<div id="form-post">
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <h3><%= f.label :title %><br></h3>
    <%= f.text_field :title %>
  </div>
  <div class="field-body">
    <%= tinymce %>
    <h3><%= f.label :body %><br></h3>
    <%= f.text_area :body, :class => "tinymce", :rows => 40, :cols => 80 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
