<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="/favicon.png"> 
<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
<title>Ghostpeep</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:atom, posts_path(:atom)) %>
</head>
<body>
<div id="wrapper" class="clearfix">
    <p class="button">
  <% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
	<%= render :partial => 'layouts/header' %>
	<div id="main">
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
		<%= yield %>
	</div>
	<%= render :partial => 'layouts/sidebar' %>
</div>
	<%= render :partial => 'layouts/footer' %>
</body>
</html>
